/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* Fonts*/
    /* --font-family-header: "Roboto", sans-serif; */
    --font-family-body: "Open Sans", sans-serif;

    /* Colours */
    --clr-accent: hsla(182, 63%, 54%);

    --clr-grey-1: hsl(209, 61%, 16%); 
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;


    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */

    /* Positioning / Sizing */
    --header-spacing: 0.99rem;
    --spacing: 0.25rem;
    --line-height: 1.7rem;
    --bottom-margin:  0.5rem;

    /* Animation / Effects */
    --transition: all 0.3s linear;
}

/*
=============== 
Global Styles
===============
*/

html {
    scroll-behavior: smooth;
}

/* CSS Reset - For all elements */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}
  
 
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--header-spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--font-family-header);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}
                                
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

/* Increased font sizes for larger screens */
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  Global classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-grey-1);
}


/*
=============== 
Global Section Styling
===============
*/

.section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
    width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.title h2 {
    text-align: center;
    text-transform: uppercase;
}

.title span {
    color: var(--clr-accent);
} 


/*
=============== 
Component Specific Adjustments
===============
*/

/* Navbar */

nav {
    background: var(--clr-white);
    padding: 1rem 1.5rem;
}

/* Fixed Navbar - Hidden State */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.fixed-nav .links a {
    color: var(--clr-grey-1);
}

.fixed-nav .links a:hover {
    color: var(--clr-accent);
}

.fixed-nav .links-container {
  height: auto !important;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hamburger menu - For narrower browser width */
.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-accent);
}

.logo {
    height: 50px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 200px;
}

.links a {
    background: var(--clr-white);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover {
    color: var(--clr-grey-1);
}

/* Larger browser width adjustments */
@media screen and (min-width: 800px) {
    nav {
      background: transparent;
    }
    .nav-center {
      width: 90vw;
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
  
    .links-container {
      height: auto !important;
    }
  
    .links {
      display: flex;
    }
    .links a {
      background: transparent;
      color: var(--clr-white);
      font-size: 1.1rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      display: block;
      transition: var(--transition);
      margin: 0 1rem;
      font-weight: bold;
      padding: 0;
    }
    .links a:hover {
      color: var(--clr-white);
    }
}

/* Banner/Hero Section */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
      url(./hero-bcg.jpeg) center/cover no-repeat;
}

.banner {
min-height: 100vh;
display: grid;
place-items: center;
text-align: center;
}

.container h1 {
color: var(--clr-white);
text-transform: capitalize;
}

.container p {
color: var(--clr-white);
max-width: 25rem;
margin: 0 auto;
margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
}


.contact-button {
    text-transform: none;
    color: var(--clr-white);
    background: var(--clr-grey-1);
    border-color: var(--clr-white);
    border-radius: 0;
    padding: 0.5rem 1rem;
}

.contact-button:hover {
  background: var(--clr-white);
  color: var(--clr-accent);
}
  
